<div *ngIf="!hasStarted">
  <input #pairs placeholder="Number of Pairs" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
  <button (click)="startGame(pairs.value)">Start</button>

  <p *ngIf="smallNumPairs">Minimum of 2 pairs</p>
  <p *ngIf="bigNumPairs">Maximum of {{listCards.length/2}} pairs</p>
</div>

<div *ngIf="!won && hasStarted" class="field" style="width: 1100px;">
  <div class="cards" >
   <div class="card" *ngFor="let card of cards" (click)="turn(card)">
     <p *ngIf="card.flipped && !card.found">{{card.icon}}</p>
     <p class="found" *ngIf="card.flipped && card.found">{{card.icon}}</p>
    </div>
  </div>
</div>

<h1 *ngIf="won">YOU WON!</h1>
