<form #form=ngForm>
  <div *ngIf="!hasStarted">
    <input [(ngModel)]="numPairs" name="pairs" #pairs="ngModel" placeholder="Number of Pairs" [appMin]="2"
           [appMax]="listCards.length/2" required="" type="number" class="neser">
    <button [disabled]="form.invalid" (click)="startGame(pairs.value)">Start</button>
    <div *ngIf="pairs.invalid && pairs.touched">
      <p *ngIf="pairs.errors.min">Minimum of 2 pairs</p>
      <p *ngIf="pairs.errors.max">Maximum of {{listCards.length / 2}} pairs</p>
      <p *ngIf="pairs.errors.required">type something smh</p>
    </div>
  </div>
</form>

<div *ngIf="!won && hasStarted" class="field" style="width: 1100px;">
  <div class="cards">
    <div class="card" *ngFor="let card of cards" (click)="turn(card)">
      <p *ngIf="card.flipped && !card.found">{{card.icon}}</p>
      <p class="found" *ngIf="card.flipped && card.found">{{card.icon}}</p>
    </div>
  </div>
</div>

<h1 *ngIf="won">YOU WON!</h1>
